body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-header {
  background-color: #ffa949;
}

.title {
  color: white;
  font-size: 1.625em; /* 26px/16px = 1.625em */
}



h1 {
  font-size: 5.625em; /* 90px/16px = 5.625em */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: 53px;
  text-decoration: underline;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

.primary-content,
.main-header {
  text-align: center;
}

.primary-content,
.secondary-content {
  width: 60%;
}

.wildlife {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
}

.t-border {
  border-top: 2px solid lightgray;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffa949;
}

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, 0.4);
}

a:active {
  color: lightcoral;
}
