

/* Web Fonts -------------------------*/

@font-face {
  font-family: "Abolition Regular";
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');

}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-header {
  padding-top: 170px;
  height: 850px;
  margin-bottom: 60px;
  background-color: #ffa949;
  background-image: linear-gradient(#ffa949, transparent 90%),
  linear-gradient(to top,#fff, transparent 30%),
  url("../img/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 1.625em; /* 26px/16px = 1.625em */
  letter-spacing: 0.065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: "Abolition Regular", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625em; /* 90px/16px = 5.625em */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  margin: 12px 0 0;
}

.arrow {
  width: 50px;
  margin: 150px 0 0 0;
}

h2 {
  font-size: 3.3125em; /* 53/16 = 3.3125em */
  text-decoration: underline;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 0.5em; /* 26/53 = 0.5em */
}

h3 {
  font-size: 1.25em; /* 20/16 = 1.25em */
  color: #48525c;
  margin-bottom: 1.7em; /* 34/20 = 1.7em */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
  padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
  padding-top: 80px;
  padding-bottom: 70px;
}

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}

.wildlife {
  color: white;
  background-color: #434a52;
  padding: 10% 10%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background-image: url("../img/bear.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 1) inset;
  border-radius: 10px;
}

.t-border {
  border-top: 2px solid lightgray;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffa949;
}

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, 0.4);
}

a:active {
  color: lightcoral;
}

/* Floated columns -------------------------*/
.resorts,
.tips {
  width: 46.5%;
}

.resorts {
  float: left;
}

.tips {
  float: right;
}

/* Float clearfix -------------------------*/
.group::after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries -------------------------*/
@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border: none;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    font-size: 1.3rem;
    border: none;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
  .arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  .main-footer {
    padding: 20px 0;
  }
}
